#
# /etc/my.cnf
#

[mysqld]
datadir  = /srv/db/mysql
user     = daemon
pid-file = /var/run/mysqld.pid
socket   = /tmp/mysql.sock
port     = 3306

#log      = /var/log/mysql/query.log
log-error = /var/log/mysql/error.log
log_slow_queries = /var/log/mysql/slow_query.log
long_query_time = 1

skip-networking
skip-innodb

[client]
socket   = /tmp/mysql.sock
port     = 3306

# End of file
